

/*                              ┈╭━━━━━━━━━━━╮┈                               */
/*                              ┈┃╭━━━╮┊╭━━━╮┃┈                               */
/*                              ╭┫┃┈▇┈┃┃┈▇┈┃┣╮                              */
/*                              ┃┃╰━━━╯┊╰━━━╯┃┃                               */
/*                              ╰┫╭━╮╰━━━╯╭━╮┣╯                               */
/*                              ┈┃┃┣┳┳┳┳┳┳┳┫┃┃┈                               */
/*                              ┈┃┃╰┻┻┻┻┻┻┻╯┃┃┈                               */
/*                              ┈╰━━━━━━━━━━━╯┈                               */

/* ----------------- --- TRABAJO POR ENOC Y CSAR ----------------------- */

/* SELECTOR CHECK DEL LOCATION EN EL FORM ITINERARY */
.label-location { position: relative; margin-bottom: 5px; }
.label-location input {position: absolute; right: 0px; bottom: 0px; width: 160px; height: 120px;}
.label-location-package { position: relative; margin-bottom: 5px; }
.label-location-package input {position: absolute; right: 0px; bottom: 0px; width: 180px; height: 220px;}
.selector { width: 160px; height: 120px; background: grey; background-position: center center; background-size: cover; }
.selector h4 { color: white; margin-left: 8px;}
.selector-package { width: 180px; height: 220px; background: rgb(211, 226, 232); background-position: center center; background-size: cover; }
.selector-package h4, .selector-package p {  margin-left: 8px;}
.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus, .uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked { background-color: rgba(0,0,0,0.6) !important; }
.uk-checkbox:hover { background-color: rgba(0,0,0,0.3) !important; }
.label-location-package input.uk-checkbox:checked:focus, .label-location-package input.uk-checkbox:indeterminate:focus, .label-location-package input.uk-radio:checked:focus, .label-location-package input.uk-checkbox:checked, .label-location-package input.uk-checkbox:indeterminate, .label-location-package input.uk-radio:checked { background-color: rgba(0,127,58,0.15) !important; border: 2px solid green; }

/* TITULO DE DIAS DEL ITINERARY */
.days-da { color: white; font-size: 22px; padding: 3px 25px; position: absolute; top: 3px; left: 3px; }

/* LINK A AGREGAR UN PRODUCT */
a.link-product { text-decoration: none; }
a.link-product div { background: lightgrey; }
a.link-product div:hover { color: white; background: grey; }


/* CARD DEL TRANSFER */
.uk-card-transfer { background: rgb(212, 228, 247); box-shadow: 0 5px 15px rgba(0,0,0,0.08); margin-top: 40px !important; transition: box-shadow .1s ease-in-out; border: rgba(0,0,0,0.5) solid 0.5px; }
.contenedor-object { width: 100%; height: calc(100vh - 120px); }

/* CONTENEDOR TAMAÑOS */
#contenedor-1 { height: calc(100vh - 80px) !important; }
.contenedor-alto { min-height: calc(100vh - 80px) !important; }
.card-menu { box-shadow: none !important; height: calc(100vh - 80px); padding: 20px 10px 0 60px; }


/* STYLE TREE FILE */


/*** BEGIN FILE EXPLORER CODE ***/

.menu-tree-preloader {
	width: 50px;
	top: 45%;
	position: absolute;
	left: 50%;
	margin-left: -16px;
  display:none; /* Initially set this to not display unless JS is detected*/
}

.menu-tree {
  /* display:none; Replaced with document.write in HEAD tags. */
}

.menu-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-tree li li {
    /*background-image: url(page.png);
    background-position: 0 1px;
    background-repeat: no-repeat;*/
    padding-left: 20px;
}
.menu-tree li.folder {
    /*background-image: url(folder.png);*/
}

.menu-tree a {
  /*background: transparent url(https://www.jqwidgets.com/jquery-widgets-demo/images/folder.png ) no-repeat left top; */
  background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/directory.png) no-repeat left top;

  padding: 0px 0 0px 21px;
	display: block;

  color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.menu-tree a.expanded {
  background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/folder_open.png) no-repeat left top;
}

/*** BEGIN HTML ICON ***/
.menu-tree a[href$=".html"], .menu-tree a[href^="http"] {
	background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/html.png) no-repeat left top;
}
/*** END HTML ICON ***/

/*** BEGIN PDF ICON ***/
/* Add PDF icon before links that go to PDFs */
.menu-tree a[href$=".pdf"] {
	background: transparent url(http://www.adobe.com/images/pdficon_small.png) no-repeat left top;
}
/*** END PDF ICON ***/

/*** BEGIN WORD ICON ***/
.menu-tree a[href$=".doc"], .menu-tree a[href$=".docx"] {
	background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/file.png) no-repeat left top;
}
/*** END WORD ICON ***/

/*** BEGIN PPT ICON ***/
.menu-tree a[href$=".ppt"], .menu-tree a[href$=".pptx"] {
	background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/ppt.png) no-repeat left top;
}
/*** END PPT ICON ***/

/*** BEGIN XLS ICON ***/
.menu-tree a[href$=".xls"], .menu-tree a[href$=".xlsx"] {
	background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/xls.png) no-repeat left top;
}
/*** END XLS ICON ***/

/*** BEGIN TEXT ICON ***/
.menu-tree a[href$=".txt"] {
	background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/txt.png) no-repeat left top;
}
/*** END TEXT ICON ***/

/*** BEGIN IMAGE ICON ***/
.menu-tree a[href$=".jpg"], .menu-tree a[href$=".jpeg"], .menu-tree a[href$=".png"], .menu-tree a[href$=".gif"] {
	background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/picture.png) no-repeat left top;
}
/*** END IMAGE ICON ***/

.menu-tree a:hover {
    text-decoration: underline;
  background-color:#ccc;
}

/*** END FILE EXPLORER CODE ***/
