

/*                              ┈╭━━━━━━━━━━━╮┈                               */
/*                              ┈┃╭━━━╮┊╭━━━╮┃┈                               */
/*                              ╭┫┃┈▇┈┃┃┈▇┈┃┣╮                              */
/*                              ┃┃╰━━━╯┊╰━━━╯┃┃                               */
/*                              ╰┫╭━╮╰━━━╯╭━╮┣╯                               */
/*                              ┈┃┃┣┳┳┳┳┳┳┳┫┃┃┈                               */
/*                              ┈┃┃╰┻┻┻┻┻┻┻╯┃┃┈                               */
/*                              ┈╰━━━━━━━━━━━╯┈                               */

/* ----------------- --- TRABAJO POR ENOC Y CSAR ----------------------- */

/* SELECTOR CHECK DEL LOCATION EN EL FORM ITINERARY */
.label-location { position: relative; margin-bottom: 5px; }
.label-location input {position: absolute; right: 0px; bottom: 0px; width: 160px; height: 120px;}
.label-location-package { position: relative; margin-bottom: 5px; }
.label-location-package input {position: absolute; right: 0px; bottom: 0px; width: 180px; height: 220px;}
.selector { width: 160px; height: 120px; background: grey; background-position: center center; background-size: cover; }
.selector h4 { color: white; margin-left: 8px;}
.selector-package { width: 180px; height: 220px; background: rgb(211, 226, 232); background-position: center center; background-size: cover; }
.selector-package h4, .selector-package p {  margin-left: 8px;}
.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus, .uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked { background-color: rgba(0,0,0,0.6) !important; }
.uk-checkbox:hover { background-color: rgba(0,0,0,0.3) !important; }
.label-location-package input.uk-checkbox:checked:focus, .label-location-package input.uk-checkbox:indeterminate:focus, .label-location-package input.uk-radio:checked:focus, .label-location-package input.uk-checkbox:checked, .label-location-package input.uk-checkbox:indeterminate, .label-location-package input.uk-radio:checked { background-color: rgba(0,127,58,0.15) !important; border: 2px solid green; }

/* TITULO DE DIAS DEL ITINERARY */
.days-da { color: white; font-size: 22px; padding: 3px 25px; position: absolute; top: 3px; left: 3px; }

/* LINK A AGREGAR UN PRODUCT */
a.link-product { text-decoration: none; }
a.link-product div { background: lightgrey; }
a.link-product div:hover { color: white; background: grey; }


/* CARD DEL TRANSFER */
.uk-card-transfer { background: rgb(212, 228, 247); box-shadow: 0 5px 15px rgba(0,0,0,0.08); margin-top: 40px !important; transition: box-shadow .1s ease-in-out; border: rgba(0,0,0,0.5) solid 0.5px; }
.contenedor-object { width: 100%; height: calc(100vh - 120px); }

/* CONTENEDOR TAMAÑOS */
#contenedor-1 { height: calc(100vh - 80px) !important; }
.contenedor-alto { min-height: calc(100vh - 80px) !important; }
.card-menu { box-shadow: none !important; height: calc(100vh - 80px); padding: 20px 10px 0 60px; }
