<!-- ELIMINAR ESTO DESPUES --><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../libs/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <script src="../libs/uikit/js/uikit.min.js"></script>
        <script src="../libs/uikit/js/uikit-icons.min.js"></script>
</head>
<!-- ELIMINAR ESTO DESPUES -->




<div class="uk-section uk-padding">
	<div class="uk-background-muted uk-padding uk-panel">
    	<div class="uk-container uk-container-expand">
			<h3>Add Itinerary</h3>
			<form method="post" class="uk-form-horizontal ">
				<div uk-grid class="uk-child-width-1-2@m uk-grid-divider ">
					<div class="uk-width-1-1">
						<h4>Itinerary Information</h4>						
					</div>
					<div>
						<div class="uk-margin ">
							 <label class="uk-form-label" >Name</label>
							<div class="uk-form-controls">
								<ul uk-tab>
									<li><a href="#">English</a></li>
									<li><a href="#">German</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>

								<ul class="uk-switcher uk-margin">
									<li><input class="uk-input" type="text" placeholder="English Name" name="name-en"></li>
									<li><input class="uk-input" type="text" placeholder="German Name" name="name-de"></li>
									<li><input class="uk-input" type="text" placeholder="Spanish Name" name="name-es"></li>
								</ul>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Description</label>
							<div class="uk-form-controls">
								<ul uk-tab>
									<li><a href="#">English</a></li>
									<li><a href="#">German</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>

								<ul class="uk-switcher uk-margin">
									<li><textarea class="uk-textarea" rows="4" placeholder="English Description" name="description-en"></textarea></li>
									<li><textarea class="uk-textarea" rows="4" placeholder="German Description" name="description-de"></textarea></li>
									<li><textarea class="uk-textarea" rows="4" placeholder="Spanish Description" name="description-es"></textarea></li>
								</ul>
								 
							</div>
						</div>
						
					</div>
					<div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Country</label>
							<div class="uk-form-controls">
								  <select class="uk-select">
									<option class="uk-selected">Select a Country</option>
                					<option>Costa Rica</option>
               						 <option>Guatemala</option>
               						 <option>Nicaragua</option>
           						 </select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Number of persons included</label>
							<div class="uk-form-controls">
								  <select class="uk-select">
									<option class="uk-selected">Select a number of persons</option>
                					<option>1 person</option>
               						 <option>2 persons</option>
               						 <option>3 persons</option>
               						 <option>4 persons</option>
               						 <option>5 persons</option>
               						 <option>6 persons</option>
               						 <option>7 persons</option>
           						 </select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Total Days</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="number" disabled placeholder="00">
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<h4>Package</h4>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Select a Package</label>
								 <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
									<label class="label-location-package"><input class="uk-checkbox" checked type="radio" name="radio-package" ><div class="selector-package"><h4>Package title</h4><p>Accomodation type <br> Transportation type</p></div></label>
									<label class="label-location-package"><input class="uk-checkbox"  type="radio" name="radio-package" ><div class="selector-package"><h4>Package title</h4><p>Accomodation type <br> Transportation type</p></div></label>
									<label class="label-location-package"><input class="uk-checkbox"  type="radio" name="radio-package" ><div class="selector-package"><h4>Package title</h4><p>Accomodation type <br> Transportation type</p></div></label>
								</div>
							
						</div>
					</div>
					<div class="uk-width-1-1">
						<h4>Locations</h4>
					</div>
					<div class="uk-width-1-1">
							
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Select Locations</label>
								 <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
									<label class="label-location"><input class="uk-checkbox" type="checkbox" checked > <div class="selector" style="background-image: url(https://www.riu.com/es/binaris/DestinoGuanacaste_tcm49-176472.jpg);"><h4>Hola Mundo</h4></div></label>
									<label class="label-location"><input class="uk-checkbox" type="checkbox" > <div class="selector" style="background-image: url(https://www.riu.com/es/binaris/DestinoGuanacaste_tcm49-176472.jpg);"><h4>Hola Mundo</h4></div></label>
									<label class="label-location"><input class="uk-checkbox" type="checkbox" > <div class="selector" style="background-image: url(https://www.riu.com/es/binaris/DestinoGuanacaste_tcm49-176472.jpg);"><h4>Hola Mundo</h4></div></label>
									<label class="label-location"><input class="uk-checkbox" type="checkbox" > <div class="selector" style="background-image: url(https://www.riu.com/es/binaris/DestinoGuanacaste_tcm49-176472.jpg);"><h4>Hola Mundo</h4></div></label>
									<label class="label-location"><input class="uk-checkbox" type="checkbox" > <div class="selector" style="background-image: url(https://www.riu.com/es/binaris/DestinoGuanacaste_tcm49-176472.jpg);"><h4>Hola Mundo</h4></div></label>
								</div>
							
						</div>
						
					</div>
					
					<div class="uk-width-1-1 uk-text-center">
						<button class="uk-button uk-button-primary" type="submit">Create Itinerary</button>
						<button class="uk-button uk-button-danger" type="submit">Cancel</button>
					</div>
					<div class="uk-width-1-1">
						<hr>
						<!-- DIA DE INICIO -->
						<div id="dia" class="uk-card uk-padding-small uk-margin-small uk-card-default">
							<span class="days-da uk-background-primary">Day 1</span>
							<p class="uk-h4">Arrival</p>
							<div class="uk-margin">
								 <label class="uk-form-label" for="form-stacked-text">Arrival place</label>
								<div class="uk-form-controls">
									<input class="uk-input" type="text" placeholder="Ex. Juan Santamaria International Airport">
								</div>
							</div>
						</div>
						
						<!-- TRANSFER 01 -->
						<div id="transfer" class="uk-text-center">
							<p class=""><span uk-icon="icon: forward"></span> Transfer to first location</p>
						</div>
						
						<h3>First Location</h3>
						
						<!-- DIA 02 -->
						<div id="dia" class="uk-card uk-padding-small uk-margin-small uk-card-default">
							<span class="days-da uk-background-primary">Day 2</span>
							<a href="#modal-activities" uk-toggle class="link-product"><div class="uk-card uk-margin uk-text-center" style="padding: 20px; margin: 40px 0 0 0; "><span uk-icon="icon: plus-circle; ratio: 2;"></span><br><span class="uk-text-small">Add a Product (Activity)</span></div></a>
						</div>
						
						<!-- DIA 03 -->
						<div id="dia" class="uk-card uk-padding-small uk-margin-small uk-card-default">
							<span class="days-da uk-background-primary">Day 3</span>
							<a href="#modal-activities" uk-toggle class="link-product"><div class="uk-card uk-margin uk-text-center" style="padding: 20px; margin: 40px 0 0 0; "><span uk-icon="icon: plus-circle; ratio: 2;"></span><br><span class="uk-text-small">Add a Product (Activity)</span></div></a>
						</div>
						
						<!-- DIA 04 -->
						<div id="dia" class="uk-card uk-padding-small uk-margin-small uk-card-default">
							<span class="days-da uk-background-primary">Day 4</span>
							<a href="#modal-activities" uk-toggle class="link-product"><div class="uk-card uk-margin uk-text-center" style="padding: 20px; margin: 40px 0 0 0; "><span uk-icon="icon: plus-circle; ratio: 2;"></span><br><span class="uk-text-small">Add a Product (Activity)</span></div></a>
						</div>
						
					
						<!-- TRANSFER 01 -->
						<div id="transfer" class="uk-text-center">
							<p class=""><span uk-icon="icon: forward"></span> Transfer to first location</p>
						</div>
						
						<h3>Second Location</h3>
						
						<!-- DIA 05 -->
						<div id="dia" class="uk-card uk-padding-small uk-margin-small uk-card-default">
							<span class="days-da uk-background-primary">Day 5</span>
							<a href="#modal-activities" uk-toggle class="link-product"><div class="uk-card uk-margin uk-text-center" style="padding: 20px; margin: 40px 0 0 0; "><span uk-icon="icon: plus-circle; ratio: 2;"></span><br><span class="uk-text-small">Add a Product (Activity)</span></div></a>
						</div>
						
						<!-- DIA 06 -->
						<div id="dia" class="uk-card uk-padding-small uk-margin-small uk-card-default">
							<span class="days-da uk-background-primary">Day 6</span>
							<a href="#modal-activities" uk-toggle class="link-product"><div class="uk-card uk-margin uk-text-center" style="padding: 20px; margin: 40px 0 0 0; "><span uk-icon="icon: plus-circle; ratio: 2;"></span><br><span class="uk-text-small">Add a Product (Activity)</span></div></a>
						</div>
						
						<!-- DIA 07 -->
						<div id="dia" class="uk-card uk-padding-small uk-margin-small uk-card-default">
							<span class="days-da uk-background-primary">Day 7</span>
							<a href="#modal-activities" uk-toggle class="link-product"><div class="uk-card uk-margin uk-text-center" style="padding: 20px; margin: 40px 0 0 0; "><span uk-icon="icon: plus-circle; ratio: 2;"></span><br><span class="uk-text-small">Add a Product (Activity)</span></div></a>
						</div>
						
						<!-- TRANSFER 01 -->
						<div id="transfer" class="uk-text-center">
							<p class=""><span uk-icon="icon: forward"></span> Transfer to first location</p>
						</div>
						
						<!-- DIA FINAL -->
						<div id="dia" class="uk-card uk-padding-small uk-margin-small uk-card-default">
							<span class="days-da uk-background-primary">Day 11</span>
							<p class="uk-h4">Departure Location</p>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>






<!-- MODAL MEDIA -->
<div id="modal-activities" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Select a Product (Activity)</h2>
		<div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
			<!-- CUADRO DE ACTIVIDADES -->
			<div class="">
				 <div class="uk-card uk-card-default uk-card-hover uk-card-body">
					<h3 class="uk-card-title">Activity 01</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
			<div class="">
				 <div class="uk-card uk-card-default uk-card-hover uk-card-body">
					<h3 class="uk-card-title">Activity 02</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
			<div class="">
				 <div class="uk-card uk-card-default uk-card-hover uk-card-body">
					<h3 class="uk-card-title">Activity 03</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
		</div>		
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button">Save</button>
        </p>
    </div>
</div>

