<!-- VISTA DE ADDPRODUCT-->
<div class="uk-section uk-padding">
	<div class="uk-background-muted uk-padding uk-panel" ng-controller="controlProduct">
    	<div class="uk-container uk-container-expand">
			<h3>Add Product (Activity)</h3>
			<form method="post" class="uk-form-horizontal ">
				<div uk-grid class="uk-child-width-1-2@m uk-grid-divider ">
					<div>
						<div class="uk-margin ">
							 <label class="uk-form-label" >Name</label>
							<div class="uk-form-controls">
										<ul uk-tab>
											<li  ng-repeat="language in languages"><a href="#">{{language.name}}</a></li>
										</ul>
										<ul class="uk-switcher uk-margin">
											<li  ng-repeat="language in languages"><input class="uk-input" type="text" placeholder="{{language.name}}" id="name-{{language.short}}"></li>

										</ul>
									</div>
						</div>
					<div class="uk-margin">
									 <label class="uk-form-label" for="form-stacked-text">Description</label>
									<div class="uk-form-controls">
										<ul uk-tab>
											<li ng-repeat="language in languages"><a href="#">{{language.name}}</a></li>
										</ul>
										<ul class="uk-switcher uk-margin">
											<li ng-repeat="language in languages"><textarea class="uk-textarea" rows="4" placeholder="{{language.name}}..." id="description-{{language.short}}"></textarea></li>
										</ul>

									</div>
					</div>
					<div class="uk-margin">
						 <label class="uk-form-label" for="form-stacked-text">Service</label>
						<div class="uk-form-controls">
							<select  class="uk-select" id="form-horizontal-select"  ng-model="selectedService" ng-options="service as service.name for service in services" >
								<option value="">-- Select a Service</option>
				</select>
						</div>
					</div>
					</div>
					<div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Media</label>
							<div class="uk-form-controls">
								<img src="http://fakeimg.pl/120x120/" alt="" id="img">
								&nbsp;&nbsp;
								<!-- <button class="uk-button" type="button" uk-toggle="target: #modal-media"><span uk-icon="icon: image"></span> Select Media</button> -->
								<button class="uk-button" type="button" onclick="alert('Boton media')"><span uk-icon="icon: image"></span> Select Media</button>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Template</label>
							<div class="uk-form-controls">
													 <select class="uk-select" ng-model="data" ng-options="opt as opt.label for opt in units ">
													</select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Country</label>
							<div class="uk-form-controls">
								<select  class="uk-select" id="form-horizontal-select"  ng-model="selectedCountry" ng-options="country as country.name for country in countries" >
									<option value="">-- Select a Country</option>
					</select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Location</label>
							<div class="uk-form-controls">
								<select  class="uk-select" id="form-horizontal-select"  ng-model="selectedLocation" ng-options="location as location.name for location in locations" >
									<option value="">-- Select a Location</option>
					</select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Position</label>
							<div class="uk-form-controls">
							<input class="uk-input" type="text" ng-model="position" value="0"/>
							</div>
						</div>
					</div>
					<div class="uk-width-1-2@m uk-text-center">
						<label class="uk-form-label" for="form-stacked-text">Latitude</label>
					<div class="uk-form-controls">
						<input id="lat" class="uk-input" type="text" ng-model="latitude" value="0"/>
					</div>
					</div>
					<div class="uk-width-1-2@m uk-text-center">
						<label class="uk-form-label" for="form-stacked-text">Longitude</label>
					 <div class="uk-form-controls">
						 <input id="lng" class="uk-input" type="text" ng-model="longitude" value="0"/>
					 </div>
					</div>
					<div class="uk-width-1-2@m uk-text-center">
						<label class="uk-form-label" for="form-stacked-text">Zoom</label>
					 <div class="uk-form-controls">
						 <input id="zoom" class="uk-input" type="text" ng-model="zoom" value="0"/>
					 </div>
					</div>
					<div class="uk-width-1-1 uk-text-center">
						<div class="contenedormapa">
								<div id="map-canvas"/>
							</div>
					</div>

					<div class="uk-width-1-1 uk-text-center">
						<button class="uk-button uk-button-primary uk-modal-close" type="submit" ng-click="addProduct(languages);">Save</button>
						<a  href="#listproduct" class="uk-button uk-button-danger " type="button">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		initialize();
	</script>
</div>





<!-- MODAL MEDIA -->
<div id="modal-media" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
			<div uk-grid>
				<div class="uk-width-1-5@m ">
					<h3> Files</h3>
					<ul style="list-style:none;" >
						<li uk-toggle="target: #medias"><i class="fa fa-folder fa-lg"></i> media</li>
						<ul style="list-style:none;"id="medias">
							<li  uk-toggle="target: #flags"><i class="fas fa-folder fa-lg"></i> Flag</li>
							<ul style="list-style:none;" id="flags" hidden>
								<li ><i class="fas fa-file-image fa-lg"></i> de.jpg</li>
								<li ><i class="fas fa-file-image fa-lg"></i> en.jpg</li>
								<li ><i class="fas fa-file-image fa-lg"></i> es.jpg</li>
							</ul>
							<li><i class="fa fa-file-image fa-lg"></i> img.jpg</li>
							<li ><i class="fa fa-file-image fa-lg"></i> img.jpg</li>
							<li ><i class="fas fa-file-image fa-lg"></i> img.jpg</li>
							<li ><i class="fas fa-file-image fa-lg"></i> img.jpg</li>
						</ul>
					</ul>
				</div>

				<div class="uk-width-4-5@m">
					<h2 class="uk-modal-title">Media Files</h2>
					<div class="uk-child-width-1-4@m uk-child-width-1-2 uk-grid-small" uk-grid>
						<div><a  ><img src="http://fakeimg.pl/250x200/" id="imgselect" alt=""></a></div>
						<div><a  ><img src="http://fakeimg.pl/250x200/" id="imgselect1" alt=""></a></div>
						<div><a  ><img src="http://fakeimg.pl/250x200/" id="imgselect2" alt=""></a></div>
					</div>
					<script type="text/javascript">
					$( "#imgselect" ).click(function() {
					  $("#imgselect").css('border','solid blue 2px');
				});
				$( "#imgselect1" ).click(function() {
					$("#imgselect1").css('border','solid blue 2px');
			});
			$( "#imgselect2" ).click(function() {
				$("#imgselect2").css('border','solid blue 2px');
		});

					</script>
					<!-- DRAG AND DROP FUNCION -->
					<div class="js-upload uk-placeholder uk-text-center">
						<span uk-icon="icon: cloud-upload"></span>
						<span class="uk-text-middle">Attach binaries by dropping them here or</span>
						<div uk-form-custom>
							<input type="file" multiple>
							<span class="uk-link">selecting one</span>
						</div>
					</div>

					<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

					<script>

					var bar = document.getElementById('js-progressbar');

					UIkit.upload('.js-upload', {

						url: '',
						multiple: true,

						beforeSend: function () {
							console.log('beforeSend', arguments);
						},
						beforeAll: function () {
							console.log('beforeAll', arguments);
						},
						load: function () {
							console.log('load', arguments);
						},
						error: function () {
							console.log('error', arguments);
						},
						complete: function () {
							console.log('complete', arguments);
						},

						loadStart: function (e) {
							console.log('loadStart', arguments);

							bar.removeAttribute('hidden');
							bar.max = e.total;
							bar.value = e.loaded;
						},

						progress: function (e) {
							console.log('progress', arguments);

							bar.max = e.total;
							bar.value = e.loaded;
						},

						loadEnd: function (e) {
							console.log('loadEnd', arguments);

							bar.max = e.total;
							bar.value = e.loaded;
						},

						completeAll: function () {
							console.log('completeAll', arguments);

							setTimeout(function () {
								bar.setAttribute('hidden', 'hidden');
							}, 1000);

							alert('Upload Completed');
						}

					});

					</script>

				</div>
				<div class="uk-width-1-1">
					<p class="uk-text-right">
						<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
						<button class="uk-button uk-button-primary" type="button">Save</button>
					</p>
				</div>
			</div>
		</div>
	</div>
