
<div class="uk-section uk-padding">
	<div class="uk-background-muted uk-padding uk-panel">
    	<div class="uk-container uk-container-expand">
			<h3>Add Package</h3>
			<form method="post" class="uk-form-horizontal ">
				<div uk-grid class="uk-child-width-1-2@m uk-grid-divider ">
					<div class="uk-width-1-1">
						<h4>Package Information</h4>
					</div>
					<div>
						<div class="uk-margin ">
							 <label class="uk-form-label" >Name</label>
							<div class="uk-form-controls">
								<ul uk-tab>
									<li><a href="#">English</a></li>
									<li><a href="#">German</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>

								<ul class="uk-switcher uk-margin">
									<li><input class="uk-input" type="text" placeholder="English Name" name="name-en"></li>
									<li><input class="uk-input" type="text" placeholder="German Name" name="name-de"></li>
									<li><input class="uk-input" type="text" placeholder="Spanish Name" name="name-es"></li>
								</ul>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Description</label>
							<div class="uk-form-controls">
								<ul uk-tab>
									<li><a href="#">English</a></li>
									<li><a href="#">German</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>

								<ul class="uk-switcher uk-margin">
									<li><textarea class="uk-textarea" rows="4" placeholder="English Description" name="description-en"></textarea></li>
									<li><textarea class="uk-textarea" rows="4" placeholder="German Description" name="description-de"></textarea></li>
									<li><textarea class="uk-textarea" rows="4" placeholder="Spanish Description" name="description-es"></textarea></li>
								</ul>

							</div>
						</div>

					</div>
					<div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Country</label>
							<div class="uk-form-controls">
								  <select class="uk-select">
									<option class="uk-selected">Select a Country</option>
                					<option>Costa Rica</option>
               						 <option>Guatemala</option>
               						 <option>Nicaragua</option>
           						 </select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Season</label>
							<div class="uk-form-controls">
								  <select class="uk-select">
									<option class="uk-selected">Select a Season</option>
                					<option>High Season</option>
               						<option>Low Season</option>
               						<option>Peak Season</option>
           						 </select>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<h4>Accommodation</h4>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Accommodation Type</label>
							<div class="uk-form-controls">
								  <select class="uk-select">
									<option class="uk-selected">Select a Accommodation</option>
                					<option>★★★</option>
               						<option>★★★★</option>
               						<option>★★★★★</option>
           						 </select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Room Type</label>
							<div class="uk-form-controls">
								  <select class="uk-select">
									<option class="uk-selected">Select a Room Type</option>
                					<option>Standard</option>
               						<option>Double</option>
               						<option>Suite</option>
           						 </select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Price per night</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="number" placeholder="Only numbers in dollars please. Ex: 600">
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<h4>Transportation</h4>
					</div>
					<div class="uk-width-1-1">
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Transportation Type</label>
							<div class="uk-form-controls">
								  <select class="uk-select">
									<option class="uk-selected">Select a Transportation</option>
                					<option>Private Transfer</option>
               						<option>Shuttle</option>
               						<option>Car Rental</option>
           						 </select>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Description</label>
							<div class="uk-form-controls">
								<ul uk-tab>
									<li><a href="#">English</a></li>
									<li><a href="#">German</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>

								<ul class="uk-switcher uk-margin">
									<li><textarea class="uk-textarea" rows="4" placeholder="English Description" name="description-en"></textarea></li>
									<li><textarea class="uk-textarea" rows="4" placeholder="German Description" name="description-de"></textarea></li>
									<li><textarea class="uk-textarea" rows="4" placeholder="Spanish Description" name="description-es"></textarea></li>
								</ul>

							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Price per day</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="number" placeholder="Only numbers in dollars please. Ex: 600">
							</div>
						</div>

					</div>
					<div class="uk-width-1-1 uk-text-center">
						<button class="uk-button uk-button-primary" type="submit">Save</button>
						<a href="#packageslist"class="uk-button uk-button-danger">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
