<div class="uk-section uk-padding" id="contenedor-1">
	<div class="uk-background-muted uk-padding uk-panel">
		<div class="uk-container uk-container-expand">
			<h3>Add User</h3>
			<form method="post" class="uk-form-horizontal ">
				<div uk-grid class="uk-child-width-1-2@m uk-grid-divider ">
					<div>
						<div class="uk-margin">
							<label class="uk-form-label" for="form-stacked-text">Name</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="text" placeholder="Name">
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="form-stacked-text">User Name</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="text" placeholder="User Name">
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="form-stacked-text">Password</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="password" placeholder="Password">
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="form-stacked-text"></label>
							<div class="uk-form-controls">
								<input class="uk-input" type="password" placeholder="Repeat Password">
							</div>
						</div>
					</div>
					<div>
						<div class="uk-margin">
							<label class="uk-form-label" for="form-stacked-text">Email</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="email" placeholder="Email">
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="form-stacked-text">Phone</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="text" placeholder="Phone">
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="form-stacked-text">Country</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="text" placeholder="Country">
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label" for="form-stacked-text">Company</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="text" placeholder="Company">
							</div>
						</div>
					</div>
					<div class="uk-width-1-1 uk-text-center">
						<button class="uk-button uk-button-primary" type="submit">Save</button>
						<button class="uk-button uk-button-danger" type="button" id="calcelar">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
