
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>

<div class="uk-section uk-padding" id="contenedor-1">
    <div class="uk-background-muted uk-padding uk-panel">
        <div class="uk-container uk-container-expand">
            <h3>Tags</h3>
            <div class="uk-margin-small">
              <button uk-toggle="target: #add-tags" class="uk-button uk-button-primary uk-button-small" type="submit"> <i class="fas fa-plus fa-lg"></i> Add Tags</button>

            </div>
            <!--tabla datatables-->
            <table id="example" class="display uk-table uk-table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Tag</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th>Actions</th>
                      <th>Tag</th>
                      <th>Description</th>
                    </tr>
                </tfoot>
                <tbody>

                    <tr>
                        <td> <a class="toggle-eye0" uk-toggle="target: .toggle-eye0"><i class="fas fa-eye fa-lg"></i></a><a class="toggle-eye0" uk-toggle="target: .toggle-eye0" hidden><i class="fas fa-eye-slash fa-lg"></i></a> <a href="#add-season" uk-toggle>  <i class="fas fa-edit fa-lg" ></i></a> <a href="#modal-delete" uk-toggle >  <i class="fas fa-trash fa-lg"></i></a></td>
                        <td>Costa Rica</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                    </tr>
                    <tr>
                        <td> <a class="toggle-eye1" uk-toggle="target: .toggle-eye1"><i class="fas fa-eye fa-lg"></i></a><a class="toggle-eye1" uk-toggle="target: .toggle-eye1" hidden><i class="fas fa-eye-slash fa-lg"></i></a> <a href="#add-season" uk-toggle>  <i class="fas fa-edit fa-lg" ></i></a> <a href="#modal-delete" uk-toggle >  <i class="fas fa-trash fa-lg"></i></a></td>
                        <td>Monte Verde</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
                    </tr>
                    <tr>
                        <td> <a class="toggle-eye2" uk-toggle="target: .toggle-eye2" hidden><i class="fas fa-eye fa-lg"></i></a><a class="toggle-eye2" uk-toggle="target: .toggle-eye2" ><i class="fas fa-eye-slash fa-lg"></i></a> <a href="#add-season" uk-toggle>  <i class="fas fa-edit fa-lg" ></i></a> <a href="#modal-delete" uk-toggle >  <i class="fas fa-trash fa-lg"></i></a></td>
                        <td>Tortuguero</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>






<!--MODAL DELETE COUNTRY-->
<div id="modal-delete" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body">
            <p>Are you sure you want to delete this item?</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a href="#modal-group-2" class="uk-button uk-button-danger  uk-modal-close"><i class="fas fa-trash-alt fa-lg" ></i> Delete</a>
            <button class="uk-button uk-button-primary uk-modal-close" type="button"><i class="fas fa-times fa-lg" ></i> Cancel</button>
        </div>
    </div>
</div>





<!--MODAL ADD SEASON-->

<div class="" id="add-tags" uk-modal>
	<div class="uk-background-muted uk-padding uk-modal-dialog">
         <button class="uk-modal-close-default" type="button" uk-close></button>
    	<div class="">
			<h3>Add Tag</h3>
			<form method="post" class="uk-form-horizontal ">
				<div uk-grid class="uk-child-width-1-1 uk-grid-divider ">
					<div>

						<div class="uk-margin ">
							 <label class="uk-form-label" >Tag</label>
							<div class="uk-form-controls">
								<ul uk-tab>
									<li><a href="#">English</a></li>
									<li><a href="#">German</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>

								<ul class="uk-switcher uk-margin">
									<li><input class="uk-input" type="text" placeholder="English Tag" name="tag-en"></li>
									<li><input class="uk-input" type="text" placeholder="German Tag" name="tag-de"></li>
									<li><input class="uk-input" type="text" placeholder="Spanish Tag" name="tag-es"></li>
								</ul>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Description</label>
							<div class="uk-form-controls">
                <li><textarea class="uk-textarea" rows="4" placeholder="Description" name="description"></textarea></li>

							</div>
						</div>
					</div>


					<div class="uk-width-1-1 uk-text-center">
						<button class="uk-button uk-button-primary" type="submit">Save</button>
						<button class="uk-button uk-button-danger uk-modal-close" type="submit">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
