<!-- ELIMINAR ESTO DESPUES --><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../libs/uikit/css/uikit.min.css" />
        <script src="../libs/uikit/js/uikit.min.js"></script>
        <script src="../libs/uikit/js/uikit-icons.min.js"></script>
		<script src="../libs/jquery/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../libs/datatable/datatables.min.css"/>
		<script type="text/javascript" src="../libs/datatable/datatables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../libs/datatable/DataTables-1.10.16/css/jquery.dataTables.min.css"/>

</head>
<!-- ELIMINAR ESTO DESPUES -->




<div class="uk-section uk-padding">
	<div class="uk-background-muted uk-padding uk-panel">
    	<div class="uk-container uk-container-expand">
			<h3>Seasons</h3>
      <script type="text/javascript">
      $(document).ready(function() {
  $('#example').DataTable();
} );
      </script>
			<!--tabla datatables-->
      <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
          
        </tbody>
    </table>
		</div>
	</div>
</div>
