

<div class="uk-section uk-padding" id="contenedor-1" data-ng-controller="controlService">
    <div class="uk-background-muted uk-padding uk-panel">
        <div class="uk-container uk-container-expand">
            <h3>Services</h3>
            <div class="uk-margin-small">
                <a uk-toggle="target: #add-service" href="#add-service" class="uk-button uk-button-primary uk-button-small"><i class="fas fa-plus fa-lg"></i> Add Service</a>

            </div>
            <!--tabla datatables-->
            <table datatable="ng" ng-if="services.length" id="service" class="display uk-table uk-table-striped" cellspacing="0" width="100%"  ui-jq="dataTable" ui-options="dataTableOpt">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </tfoot>
                <tbody>

                    <tr ng-repeat="service in services " role="row" class="odd">

                        <td > <a ng-click="getServicetoModal(languages,service.id)" href="#edit-service" uk-toggle>  <i class="fas fa-edit fa-lg" ></i></a> <a  ng-click="deleteService(service.id)" href="#modal-delete" uk-toggle >  <i class="fas fa-trash fa-lg"></i></a></td>
                        <td>{{service.name}} </td>
                        <td ng-if="service.bylocation == 1">Bylocation</td>
                        <td ng-if="service.byitinerary == 1">ByItinerary</td>
                        <td ng-if="service.byitinerary == 0 && service.bylocation == 0">Not defined</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--MODAL DELETE -->
        <div id="modal-delete" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-body">
                    <p>Are you sure you want to delete this item?</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <a  id="confirmdelete" class="uk-button uk-button-danger  uk-modal-close"><i class="fas fa-trash-alt fa-lg"></i> Delete</a>
                    <button class="uk-button uk-button-primary uk-modal-close" type="button"><i class="fas fa-times fa-lg" ></i> Cancel</button>
                </div>
            </div>
        </div>

        <!-- modal add service -->
        <div class="" id="add-service" uk-modal>
            <div class="uk-background-muted uk-padding uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="">
                    <h3>Add Service</h3>
                    <form method="post" class="uk-form-horizontal ">
                        <div uk-grid class="uk-child-width-1-1 uk-grid-divider ">
                            <div>
                                <div class="uk-margin ">
                                    <label class="uk-form-label" >Name</label>
                                    <div class="uk-form-controls">
                                        <ul uk-tab>
                                            <li  ng-repeat="language in languages"><a href="#">{{language.name}}</a></li>
                                        </ul>

                                        <ul class="uk-switcher uk-margin">
                                            <li  ng-repeat="language in languages"><input class="uk-input" type="text" placeholder="{{language.name}}" id="name-{{language.short}}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="uk-margin ">
                                    <label class="uk-form-label" >Select type</label>
                                    <label ><input class="uk-radio" ng-model="typeS" type="radio" name="radio2" ng-value='"ByItinerary"'> ByItinerary </label>
                                    <label ><input class="uk-radio" ng-model="typeS" type="radio" name="radio2" ng-value='"Bylocation"'> Bylocation </label>
                                </div>
                            </div>


                            <div class="uk-width-1-1 uk-text-center">
                                <button class="uk-button uk-button-primary" ng-click="addService(languages);"type="button">Save</button>
                                <button class="uk-button uk-button-danger uk-modal-close" type="submit">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- modal Edit service -->
        <div class="" id="edit-service" uk-modal>
            <div class="uk-background-muted uk-padding uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="">
                    <h3>Edit Service</h3>
                    <form method="post" class="uk-form-horizontal ">
                        <div uk-grid class="uk-child-width-1-1 uk-grid-divider ">
                            <div>
                                <div class="uk-margin ">
                                    <label class="uk-form-label" >Name</label>
                                    <div class="uk-form-controls">
                                        <ul uk-tab>
                                            <li  ng-repeat="language in languages"><a href="#">{{language.name}}</a></li>
                                        </ul>

                                        <ul class="uk-switcher uk-margin">
                                            <li  ng-repeat="language in languages"><input class="uk-input" type="text" placeholder="{{language.name}}" id="nameE-{{language.short}}"></li>

                                        </ul>
                                    </div>
                                </div>
                                <!--<div class="uk-margin ">
                                    <label class="uk-form-label" >Select type</label>
                                    <label ><input class="uk-radio" ng-model="typeE" type="radio" name="radio2" ng-value='"ByItinerary"'> ByItinerary </label>
                                    <label ><input class="uk-radio" ng-model="typeE" type="radio" name="radio2" ng-value='"Bylocation"'> Bylocation </label>
                                </div>-->
                                  <input type="text" name="" value="" ng-model="idServiceE" hidden >
                            </div>
                            <div class="uk-width-1-1 uk-text-center">
                                <button class="uk-button uk-button-primary" ng-click="editService(languages);" type="button">Save</button>
                                <button class="uk-button uk-button-danger uk-modal-close" type="submit">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
