
<script type="text/javascript">
$(document).ready(function() {
    $('#locations').DataTable();
} );
</script>
<div class="uk-section uk-padding" data-ng-controller="controlLocations">
    <div class="uk-background-muted uk-padding uk-panel">
        <div class="uk-container uk-container-expand">
            <h3>Locations</h3>
            <script type="text/javascript">
                  $("#addlocation2").click(function(){
                      console.log("click location add");
                    location.reload();
                 });
                  </script>
            <div class="uk-margin-small">
				<a href="#addlocation" id="addlocation2" class="uk-button uk-button-primary uk-button-small"> <i class="fas fa-plus fa-lg"></i> Add a Location</a>
            </div>
            <!--tabla datatables-->

            <table  datatable="ng" ng-if="locations.length" id="locations" class="display uk-table uk-table-striped" cellspacing="0" width="100%"  ui-jq="dataTable" ui-options="dataTableOpt">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Country</th>
                    </tr>
                </tfoot>
                <tbody>

                  <tr ng-repeat="location in locations" role="row" class="odd">
                    <td >
                      <a ng-click="changeenabled(location.id,location.enabled)" class="toggle-eye0" ng-if="location.enabled == 0"><i class="fas fa-eye-slash fa-lg"></i></a>
                      <a ng-click="changeenabled(location.id,location.enabled)" class="toggle-eye0" ng-if="location.enabled == 1"><i class="fas fa-eye fa-lg"></i></a>
                      <a ng-click="getEditLocation(location.id)" href="#edit-location" uk-toggle>  <i class="fas fa-edit fa-lg" ></i></a>
                      <a ng-click="deleteCountryDetails(country.language_id)" href="#modal-delete" uk-toggle >  <i class="fas fa-trash fa-lg"></i></a>
                    </td>
                    <td>
                      {{location.name}}
                    </td>
                    <td>
                        {{location.country}}
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>







<!--MODAL DELETE SEASON-->
<div id="modal-delete" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body">
            <p>Are you sure you want to delete this item?</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a href="#modal-group-2" class="uk-button uk-button-danger  uk-modal-close"><i class="fas fa-trash-alt fa-lg" ></i> Delete</a>
            <button class="uk-button uk-button-primary uk-modal-close" type="button"><i class="fas fa-times fa-lg" ></i> Cancel</button>
        </div>
    </div>
</div>




<!--MODAL ADD SEASON-->

<div class="" id="add-season" uk-modal>
	<div class="uk-background-muted uk-padding uk-modal-dialog">
         <button class="uk-modal-close-default" type="button" uk-close></button>
    	<div class="">
			<h3>Add Season</h3>
			<form method="post" class="uk-form-horizontal ">
				<div uk-grid class="uk-child-width-1-1 uk-grid-divider ">
					<div>
						<div class="uk-margin ">
							 <label class="uk-form-label" >Name</label>
							<div class="uk-form-controls">
								<ul uk-tab>
									<li><a href="#">English</a></li>
									<li><a href="#">German</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>

								<ul class="uk-switcher uk-margin">
									<li><input class="uk-input" type="text" placeholder="English Name" name="name-en"></li>
									<li><input class="uk-input" type="text" placeholder="German Name" name="name-de"></li>
									<li><input class="uk-input" type="text" placeholder="Spanish Name" name="name-es"></li>
								</ul>
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">Start Date</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="date">
							</div>
						</div>
						<div class="uk-margin">
							 <label class="uk-form-label" for="form-stacked-text">End Date</label>
							<div class="uk-form-controls">
								<input class="uk-input" type="date">
							</div>
						</div>
					</div>


					<div class="uk-width-1-1 uk-text-center">
						<button class="uk-button uk-button-primary" type="submit">Save</button>
						<button class="uk-button uk-button-danger uk-modal-close" type="submit">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>

<!--MODAL UPDATE Country-->
    <div class="uk-modal-container" id="edit-location" uk-modal>
        <div class="uk-background-muted uk-padding uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="">
                <h3>Edit Country</h3>
                <form method="post" class="uk-form-horizontal ">
                    <div uk-grid class="uk-child-width-1-2@m uk-grid-divider ">
                        <div>
                            <div class="uk-margin ">
                               <label class="uk-form-label" >Name</label>
                              <div class="uk-form-controls">
                                <ul uk-tab>
                                  <li  ng-repeat="language in languages"><a href="#">{{language.name}}</a></li>
                                </ul>
                                <ul class="uk-switcher uk-margin">
                                  <li  ng-repeat="language in languages"><input class="uk-input" type="text" placeholder="{{language.name}}" id="nameE-{{language.id}}"></li>

                                </ul>
                              </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Description</label>
                                <div class="uk-form-controls">
                                  <ul uk-tab>
                                    <li ng-repeat="language in languages"><a href="#">{{language.name}}</a></li>
                                  </ul>
                                  <ul class="uk-switcher uk-margin">
                                    <li ng-repeat="language in languages"><textarea class="uk-textarea" rows="4" placeholder="{{language.name}}..." id="descriptionE-{{language.id}}"></textarea></li>
                                  </ul>

                                </div>
                            </div>
                           
                        </div>
                           <div>
                              <div class="uk-margin">
                                 <label class="uk-form-label" for="form-stacked-text">Media</label>
                                <div class="uk-form-controls">
                                  <img src="http://fakeimg.pl/120x120/" alt="" id="img">
                                  &nbsp;&nbsp;
                                  <!-- <button class="uk-button" type="button" uk-toggle="target: #modal-media"><span uk-icon="icon: image"></span> Select Media</button> -->
                                  <button class="uk-button" type="button" onclick="alert('Boton media')"><span uk-icon="icon: image"></span> Select Media</button>
                                </div>
                              </div>
                              <div class="uk-margin">
                                 <label class="uk-form-label" for="form-stacked-text">Template</label>
                                <div class="uk-form-controls">
                                             <select class="uk-select" ng-model="data" ng-options="opt as opt.label for opt in units ">
                                            </select>
                                </div>
                              </div>
                              <div class="uk-margin">
                                 <label class="uk-form-label" for="form-stacked-text">Position</label>
                                <div class="uk-form-controls">
                                <input class="uk-input" type="text" ng-model="position" value="0"/>
                                </div>
                              </div>
                          </div>
                          <!--mapa  -->
                           <div class="uk-width-1-2@m uk-text-center">
                            <label class="uk-form-label" for="form-stacked-text">Latitude</label>
                          <div class="uk-form-controls">
                            <input id="lat" class="uk-input" type="text" ng-model="latitude" value="0"/>
                          </div>
                          </div>
                          <div class="uk-width-1-2@m uk-text-center">
                            <label class="uk-form-label" for="form-stacked-text">Longitude</label>
                           <div class="uk-form-controls">
                             <input id="lng" class="uk-input" type="text" ng-model="longitude" value="0"/>
                           </div>
                          </div>
                          <div class="uk-width-1-2@m uk-text-center">
                            <label class="uk-form-label" for="form-stacked-text">Zoom</label>
                           <div class="uk-form-controls">
                             <input id="zoom" class="uk-input" type="text" ng-model="zoom" value="0"/>
                           </div> 
                          </div>
                          <div class="uk-width-1-1 uk-text-center">
                            <div class="contenedormapa">
                                <div id="map-canvas"/>
                              </div>
                        </div>
                        <script type="text/javascript">
                        initialize();
                        </script>
                          <!-- endmapa -->
                        <div class="uk-width-1-1 uk-text-center">
                            <button class="uk-button uk-button-primary "  ng-click="updateLocation();" type="button">Save</button>
                            <a class="uk-button uk-button-danger uk-modal-close" type="button" >Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- fin de modal editar -->
</div>
  <!-- fin del controller -->
</div>
