

<div class="uk-section uk-padding" id="contenedor-1" data-ng-controller="controlLanguage">
    <div class="uk-background-muted uk-padding uk-panel">
        <div class="uk-container uk-container-expand">
            <h3>Languages</h3>
            <div class="uk-margin-small">
                <a href="#add-language" uk-toggle class="uk-button uk-button-primary uk-button-small" > <i class="fas fa-plus fa-lg"></i> Add Language</a>
            </div>
            <!--tabla datatables-->
            <table   datatable="ng" ng-if="languages.length" id="language" class="display uk-table uk-table-striped" cellspacing="0" width="100%"  ui-jq="dataTable" ui-options="dataTableOpt"  >
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Short</th>
                        <th>Icon</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th>Actions</th>
                      <th>Name</th>
                      <th>Short</th>
                      <th>Icon</th>
                    </tr>
                </tfoot>
                <tbody  >
                    <tr ng-repeat="language in languages " role="row" class="odd">

                        <td > <a  ng-click="changeenabled(language.id,language.enabled)" class="toggle-eye0" ng-if="language.enabled == 0"><i class="fas fa-eye-slash fa-lg"></i>
                        </a><a ng-click="changeenabled(language.id,language.enabled)" class="toggle-eye0" ng-if="language.enabled == 1"><i class="fas fa-eye fa-lg"></i></a> <a ng-click="getLanguagetoModal(language.id)" href="#edit-language" uk-toggle>  <i class="fas fa-edit fa-lg" ></i></a> <a  ng-click="deleteLanguage(language.id)" href="#modal-delete" uk-toggle >  <i class="fas fa-trash fa-lg"></i></a></td>
                        <td>{{language.name}} </td>
                        <td>{{language.short}}</td>
                        <td><img ng-src="../{{language.icon}} " alt="flag" style="width: 35px;"> </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
    <!--MODAL DELETE USER-->
    <div id="modal-delete" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-body">
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <a  id="confirmdelete" class="uk-button uk-button-danger  uk-modal-close"><i class="fas fa-trash-alt fa-lg"></i> Delete</a>
                <button class="uk-button uk-button-primary uk-modal-close" type="button"><i class="fas fa-times fa-lg" ></i> Cancel</button>
            </div>
        </div>
    </div>

    <!--MODAL UPDATE Language-->


    <div class="" id="edit-language" uk-modal>
        <div class="uk-background-muted uk-padding uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="">
                <h3>Edit language</h3>
          			<form method="post" class="uk-form-horizontal ">
          				<div uk-grid class="uk-child-width-1-1 uk-grid-divider ">
          					<div>
          						<div class="uk-margin">
          							 <label class="uk-form-label" for="form-stacked-text">Name</label>
          							<div class="uk-form-controls">
          								<input class="uk-input" type="text" placeholder="Name" ng-model="nameE">
                           <input class="uk-input" type="text" ng-model="idE" hidden>
          							</div>
          						</div>
          						<div class="uk-margin">
          							 <label class="uk-form-label" for="form-stacked-text">Short code</label>
          							<div class="uk-form-controls">
          								<input class="uk-input" type="text" placeholder="Ex. en-GB" ng-model="shortE">
          							</div>
          						</div>
          						<div class="uk-margin">
          							<label class="uk-form-label" for="form-stacked-text">Upload Flag</label>
          							<div class="js-upload" uk-form-custom>
          								<input type="file" multiple ng-model="iconE">
          								<button class="uk-button uk-button-default" type="file" tabindex="-1"><span uk-icon="icon: cloud-upload"></span> Select a file</button>
          							</div>
          						</div>
          					</div>
          					<div class="uk-width-1-1 uk-text-center">
          						<button  ng-click="editLanguage();"class="uk-button uk-button-primary" type="button">Save</button>
          						<a href="#listlanguage" class="uk-button uk-button-danger uk-modal-close" >Cancel</a>
          					</div>
          				</div>
          			</form>
            </div>
        </div>
    </div>

    <!--MODAL add Language-->

    <div class="" id="add-language" uk-modal>
        <div class="uk-background-muted uk-padding uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="">
              <h3>Add Language</h3>
              <form method="post" class="uk-form-horizontal ">
                <div uk-grid class="uk-child-width-1-1 uk-grid-divider ">
                  <div>
                    <div class="uk-margin">
                       <label class="uk-form-label" for="form-stacked-text">Name</label>
                      <div class="uk-form-controls">
                        <input class="uk-input" type="text" placeholder="Name" ng-model="name">
                      </div>
                    </div>
                    <div class="uk-margin">
                       <label class="uk-form-label" for="form-stacked-text">Short code</label>
                      <div class="uk-form-controls">
                        <input class="uk-input" type="text" placeholder="Ex. en-GB" ng-model="short">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <label class="uk-form-label" for="form-stacked-text">Upload Flag</label>
                      <div class="js-upload" uk-form-custom>
                        <input type="file" multiple ng-model="icon">
                        <button class="uk-button uk-button-default" type="file" tabindex="-1"><span uk-icon="icon: cloud-upload"></span> Select a file</button>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-1-1 uk-text-center">
                    <button  ng-click="addLanguage();"class="uk-button uk-button-primary" type="button">Save</button>
                    <a href="#listlanguage"class="uk-button uk-button-danger uk-modal-close" >Cancel</a>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>


</div>
