
<!-- VISTA DE MEDIA-->
<div class="uk-section uk-padding">
	<div class="uk-background-muted uk-padding uk-panel">
		<div uk-grid>
			<div class="uk-width-1-5@m ">
				<h3> Files</h3>
				<ul style="list-style:none;" >
					<li uk-toggle="target: #medias"><i class="fa fa-folder fa-lg"></i> media</li>
					<ul style="list-style:none;"id="medias">
						<li  uk-toggle="target: #flags"><i class="fas fa-folder fa-lg"></i> Flag</li>
						<ul style="list-style:none;" id="flags" hidden>
							<li ><i class="fas fa-file-image fa-lg"></i> de.jpg</li>
							<li ><i class="fas fa-file-image fa-lg"></i> en.jpg</li>
							<li ><i class="fas fa-file-image fa-lg"></i> es.jpg</li>
						</ul>
						<li><i class="fa fa-file-image fa-lg"></i> img.jpg</li>
						<li ><i class="fa fa-file-image fa-lg"></i> img.jpg</li>
						<li ><i class="fas fa-file-image fa-lg"></i> img.jpg</li>
						<li ><i class="fas fa-file-image fa-lg"></i> img.jpg</li>
					</ul>
				</ul>
			</div>
			<div class="uk-width-4-5@m">
				<h2 class="uk-modal-title">Media Files</h2>
				<div class="uk-child-width-1-4@m uk-child-width-1-2 uk-grid-small" uk-grid>
					<div><a href="#"><img src="http://fakeimg.pl/250x200/" alt=""></a></div>
					<div><a href="#"><img src="http://fakeimg.pl/250x200/" alt=""></a></div>
					<div><a href="#"><img src="http://fakeimg.pl/250x200/" alt=""></a></div>
				</div>
				<!-- DRAG AND DROP FUNCION -->
				<div class="js-upload uk-placeholder uk-text-center">
					<span uk-icon="icon: cloud-upload"></span>
					<span class="uk-text-middle">Attach binaries by dropping them here or</span>
					<div uk-form-custom>
						<input type="file" multiple>
						<span class="uk-link">selecting one</span>
					</div>
				</div>

				<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

				<script>

				var bar = document.getElementById('js-progressbar');

				UIkit.upload('.js-upload', {

					url: '',
					multiple: true,

					beforeSend: function () {
						console.log('beforeSend', arguments);
					},
					beforeAll: function () {
						console.log('beforeAll', arguments);
					},
					load: function () {
						console.log('load', arguments);
					},
					error: function () {
						console.log('error', arguments);
					},
					complete: function () {
						console.log('complete', arguments);
					},

					loadStart: function (e) {
						console.log('loadStart', arguments);

						bar.removeAttribute('hidden');
						bar.max = e.total;
						bar.value = e.loaded;
					},

					progress: function (e) {
						console.log('progress', arguments);

						bar.max = e.total;
						bar.value = e.loaded;
					},

					loadEnd: function (e) {
						console.log('loadEnd', arguments);

						bar.max = e.total;
						bar.value = e.loaded;
					},

					completeAll: function () {
						console.log('completeAll', arguments);

						setTimeout(function () {
							bar.setAttribute('hidden', 'hidden');
						}, 1000);

						alert('Upload Completed');
					}

				});

				</script>

			</div>
			<div class="uk-width-1-1">
				<p class="uk-text-right">
					<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
					<button class="uk-button uk-button-primary" type="button">Save</button>
				</p>
			</div>
		</div>
	</div>
</div>
