<!-- ELIMINAR ESTO DESPUES --><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../libs/uikit/css/uikit.min.css" />
        <script src="../libs/uikit/js/uikit.min.js"></script>
        <script src="../libs/uikit/js/uikit-icons.min.js"></script>
</head>
<!-- ELIMINAR ESTO DESPUES -->




<div class="uk-section uk-padding">
	<div class="uk-background-muted uk-padding uk-panel">
    	<div class="uk-container uk-container-expand">
			<div uk-grid class="">
				<div>
					Hola Mundo
				</div>
				
					<div class="uk-width-1-1 uk-text-center">
						<button class="uk-button uk-button-primary" type="submit">Save</button>
						<button class="uk-button uk-button-danger" type="submit">Cancel</button>
					</div>
			</div>
		</div>
	</div>
</div>